<% content_for :title do %>About<% end %>
<div class="welcome text-center row">
	<div class="welcome-text-area col-md-offset-3 col-md-6">
		<h1>About</h1>
	</div>
</div>
<div class="row">
	<div class="content">
		<h3 class="text-uppercase">Joshua Roberson <small>Owner</small></h3>
		<p>A versatile data scientist with over five years experience in a variety of industries including banking, investments, real estate, and academic research. I love working with data and providing insightful analytics to allow management to make better business decisions.</p>
		<p>Some of the areas I specialize in include:</p>
		<br>
		<div>
		<div class="col-md-4">
			<div class="panel panel-default">
  				<div class="panel-heading text-center">
    				<h3 class="panel-title"><i class="fa fa-database" aria-hidden="true"></i>  Database</h3>
  				</div>
				<div class="panel-body text-left">
					<ul class="list-unstyled">
						<li>Database design and maintenance</li>
						<li>Data integration into relational models</li>
						<li>Generate reports and views</li>
				   	</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
  				<div class="panel-heading text-center">
    				<h3 class="panel-title"><i class="fa fa-bar-chart" aria-hidden="true"></i>  Analysis</h3>
  				</div>
				<div class="panel-body text-left">
					<ul class="list-unstyled">
						<li>Design automated data pipelines</li>
						<li>Statistical methods and analysis</li>
						<li>Data visualization</li>
				   	</ul>				   
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
  				<div class="panel-heading text-center">
    				<h3 class="panel-title"><i class="fa fa-desktop" aria-hidden="true"></i>  Web Development</h3>
  				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li>Full stack web development</li>
						<li>Database services for web features</li>
						<li>Responsive web design</li>
						<li>Social media integration</li>
						<li>Google Analytics analysis</li>												
				   	</ul>
				</div>
			</div>
		</div>
		</div>
<!-- 		<ul>
			<li>Database design and maintenance.</li>
			<li>Data analysis pipelines.</li>
			<li>Report and web application data products.</li>
			<li>Utilized</li>
		</ul> -->
	</div>
</div>