<div class="about-welcome text-center">
	<h1>About Me</h1>
</div>
<div class="about-content">
	<div class="container">
		<p><h3>Joshua Roberson</h3></p>
		<p>Over five years experience in a variety of industries including banking, investments, real estate, and academic research. I love data and believe it holds the key to making better business decisions.</p>
		<p>Here is a list of some of my more recent projects.</p>
		<br>
		<ul class="job-list">
			<li>
				<h4>The Bank and Trust of Bryan/College Station</h4>
				<ul class="job-list">
					<li>Utilized</li>
				</ul>
			</li>
			<li>
				<h4>Texas A&M Real Estate Center</h4>
				<ul class="job-list">
					<li>Maintained data pipeline.</li>
					<li>Created quality visuals to deliver clear message.</li>
				</ul>
			</li>
		</ul>
	</div>
</div>