<div class="welcome text-center row">
	<div class="welcome-text-area col-md-offset-3 col-md-6">
		<h1>Blog</h1>
	</div>
</div>	
<div class="content">
	<div class="row">
		<p>The blog is still in development! Check back often for updates. In time I hope to add a unique assortment of software development tips, tricks, and use cases.</p>
	</div>		
</div>
