<div class="index-welcome container text-center">
	<h1>Welcome</h1>
</div>
<div class="index-content">
	<div class="container">
		<br>
	<p>Roberson Analytics is pleased to have the opportunity to serve your business analysis needs. I am a independent freelancer who can provide a variety of analytical solutions. We are based out of College Station, Texas right in the heart of Aggieland.</p>
	<p>I put a tremendous amount of pride and effort into every client's needs from start to finish. My work is efficient and competively priced.</p>
	<p>Check out the services tab to see our full line of services.</p>
	</div>
</div>
