<% content_for :title do %>Contact<% end %>
<div class="contacts-welcome text-center">
	<h1>Contact</h1>
</div>
<div class="contacts-content">
	<div class="container">
		<p>For more information please fill out the following.</p>
	</div>
</div>